/*======================== Google Fonts =========================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*======================== Variables ============================*/

/*=================== Breakpoints ===================*/
$breakpoints: (
  "medium": 35rem,
  "large": 57rem,
);

/*=================== Mixins ==================*/
@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

/*=================== Colors ====================*/
$primary: #3d5a80;
$primary-dark: #293241;
$secondary: #98c1d9;
$secondary-light: #e0fbfc;
$alt: #ee6c4d;
$white: #fff;

/*=================== Fonts and Typography =========================*/
$font-regular: 400;
$font-bold: 700;

$h2-font-size: 2rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;

$body-font: "Roboto", sans-serif;

/*================== Base =====================*/

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  min-height: 100vh;
  background: $secondary-light;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $font-bold;
}

button {
  font-family: inherit;
  font-size: $normal-font-size;
}

/*================== Calculator ==================*/

.calculator {
  background: $primary-dark;
  overflow: hidden;

  &__input {
    position:relative;
    color: $white;
    font-size: $h2-font-size;
    padding-inline: 1rem;

    .input__previous{
      font-size: $normal-font-size;
      position: absolute;
      top: 2rem;
    }
  }

  &__buttons {
    button {
      background: $primary;
      color: $white;
      border: none;
      transition: background 0.3s ease-out;

      &:hover {
        background: lighten($primary, 7);
        cursor: pointer;
      }

      &:active {
        background: lighten($primary, 14);
      }
    }

    #btn-clear,
    #btn-delete {
      grid-column: span 2;
    }

    #btn-clear {
      background: $alt;

      &:hover {
        background: darken($alt, 10);
      }

      &:active {
        background: darken($alt, 25);
      }
    }

    #btn-delete {
      background: $secondary;

      &:hover {
        background: darken($secondary, 20);
      }

      &:active {
        background: darken($secondary, 30);
      }
    }
  }

  @include mq('medium'){

    &__input{
      font-size: 3rem;
    }
  }
}
